<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5b9b732e-3824-410e-980f-aa3c45773d46/resourceGroups/rg-bonee-development/providers/Microsoft.ContainerRegistry/registries/boneedemo</ResourceId>
    <ResourceName>boneedemo</ResourceName>
    <ResourceGroup>rg-bonee-development</ResourceGroup>
    <Subscription>Microsoft Azure</Subscription>
    <RegistryUrl>https://boneedemo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>1.0.0</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>27fde517-34d6-4789-96a2-91b769c6f652</ProjectGuid>
  </PropertyGroup>
</Project>